.label {
  -fx-font-size: 14px;
  -fx-min-width: 200;
  -fx-max-width: 500;
  -fx-alignment: center;
  -fx-text-alignment: center;
}

.button {
  -fx-font-size: 14px;
  -fx-min-width: 200;
  -fx-max-width: 500;
  -fx-alignment: center;
  -fx-text-alignment: center;
}